<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${ficha.id_ficha != null} ? 'Editar Ficha Médica' : 'Nueva Ficha Médica'">Formulario Ficha</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2 th:text="${ficha.id_ficha != null} ? 'Editar Ficha Médica' : 'Nueva Ficha Médica'"></h2>

<form th:action="@{/fichas/guardar}" th:object="${ficha}" method="post">

<input type="hidden" th:field="*{id_ficha}" />

<!-- JUGADOR -->

<div class="form-group">
    <label for="usuario">Deportista:</label>
    <select th:field="*{jugador.id_jugador}" class="form-control">
        <option value="">-- Seleccione un Jugador --</option>
        <option th:each="u : ${deportistas}" 
                th:value="${u.id_jugador}" 
                th:text="${u.persona.nombre + ' ' + u.persona.apellido}">
        </option>
    </select>
</div>

<!-- MEDICO -->

<div class="mb-3">
    <label class="form-label">Médico Encargado</label>
    <select th:field="*{medico.id_medico}" class="form-control" required>
        <option value="">Seleccione médico</option>
        <option th:each="m : ${medicos}" 
                th:value="${m.id_medico}" 
                th:text="${m.persona != null} ? (${m.persona.nombre} + ' ' + ${m.persona.apellido}) : 'Médico ID: ' + ${m.id_medico}">
        </option>
    </select>
</div>     

<!-- HISTORIAL -->

<div class="mb-3">

<label class="form-label">Historial Clínico</label>

<textarea class="form-control"
          th:field="*{historialClinico}"
          rows="3"
          required>
</textarea>

</div>

<!-- OBSERVACIONES -->

<div class="mb-3">

<label class="form-label">Observaciones</label>

<textarea class="form-control"
          th:field="*{observaciones}"
          rows="3">
</textarea>

</div>

<!-- FECHA -->

<div class="mb-3">

<label class="form-label">Fecha de Revisión</label>

<input type="date"
       class="form-control"
       th:field="*{fechaRevision}"
       required>

</div>

<button type="submit" class="btn btn-success">
Guardar
</button>

<a th:href="@{/fichas}" class="btn btn-secondary">
Cancelar
</a>

</form>

</div>

</body>

</html>